
.heading{
    background-image: url("../images/OIP (1).jpg");
   height: 200px;
    background-repeat:no-repeat;
    background-size: 100% 100%;
}
nav ul li{
    text-decoration: none;
    display: inline;
    padding-left: 15px;
}
nav{
    background-color: bisque;
    padding: 2px;
}
h1{
    text-align: center;
    
}
footer{
    margin-top: 400px;
    background-color: gray;
    padding: 5px;
}
img{
    width: 900px;
}
header{
    width: 100%;
}
